## Vamos trabalhar com aquela tabela do Prof. Msc. Felicien

In [1]:
# Importação das bibliotecas
import pandas as pd #Para a manipulação de DataFrames
import numpy as np # Cálculo algébricos
import matplotlib.pyplot as plt #Visualização dos dados
from sklearn import datasets as sck #mineração de dados

In [6]:
phf = pd.read_csv('phf0.csv')

In [7]:
phf

,Registros,Curso,Genero,Idade,Trabalha,Cursou_EnsinoMedio,Horas_EstudoSemana,Conhecimento_Matematica
0,161,Engenharia,Masculino,18,Não,Escola Militar,36,4
1,226,Engenharia,Masculino,20,Não,Escola Militar,20,3
2,60,Engenharia,Feminino,26,Sim,Escola Técnica,10,3
3,203,Engenharia,Masculino,19,Não,Escola Técnica,20,4
4,258,Licenciatura em Computação,Masculino,17,Não,Escola Pública Normal,14,2
...,...,...,...,...,...,...,...,...
75,147,Engenharia,Feminino,17,Sim,Escola Particular,10,4
76,171,Engenharia,Masculino,20,Não,Escola Pública Normal,2,2
77,261,Engenharia,Feminino,17,Não,Escola Militar,5,4
78,173,Meteorologia,Feminino,18,Não,Escola Pública Normal,8,2
79,230,Engenharia,Masculino,18,Não,Escola Particular,15,4